<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Prototype - Topology Graph</title>
    <meta name="viewport" content="width=device-width">
    <!-- lots of css -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/kubernetes-topology-graph/dist/topology-graph.css" />
    <link rel="stylesheet" href="bower_components/roboto-fontface/css/roboto/roboto-fontface.css">
    <link rel="stylesheet" href="css/variables.css">    
    <link rel="stylesheet" href="css/index.css">

    <!-- external js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="data/custom-cluster.js"></script>
    <script src="bower_components/kubernetes-topology-graph/dist/topology-graph.js"></script>

    <!-- materialize js stuff jquery sorry -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </head>

  <body ng-app="prototypeApp">
    <div ng-controller="GraphCtrl">
      <kubernetes-topology-graph
        items="data.items"
        relations="data.relations"
        kinds="kinds"
        force="topologyForce">
      </kubernetes-topology-graph>
      <div class="controls z-depth-3">
        <a ng-click="switch()" class="waves-effect waves-light btn light-blue darken-2">Switch Cluster Dataset</a>
        <kubernetes-topology-icon kind="Pod">
          <svg class="kube-topology">
            <use xlink:href="#vertex-Pod" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>Pods</label>

        <kubernetes-topology-icon kind="Service">
          <svg class="kube-topology">
            <use xlink:href="#vertex-Service" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>Services</label>

        <kubernetes-topology-icon kind="Node">
          <svg class="kube-topology">
            <use xlink:href="#vertex-Node" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>Nodes</label>

        <kubernetes-topology-icon kind="ReplicationController">
          <svg class="kube-topology">
            <use xlink:href="#vertex-ReplicationController" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>Replication Controllers</label>

        <kubernetes-topology-icon kind="Container">
          <svg class="kube-topology">
            <use xlink:href="#vertex-Container" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>Containers</label>

        <kubernetes-topology-icon kind="ReplicaSet">
          <svg class="kube-topology">
            <use xlink:href="#vertex-ReplicaSet" x="30" y="30"></use>
          </svg>
        </kubernetes-topology-icon>
        <label>ReplicaSets</label>
      </div>

      <div class="panel" id="manifest">
        <h3 ng-bind="kind"></h2>
        <h4 ng-bind="name"></h3>
        <table class="bordered">
          <tr ng-if="labels">
            <td class="key">labels</td>
            <td class="value">
              <div class="label" ng-repeat="(key,value) in labels">
                <span class="key label">{{ key }}</span>{{ value }}
              </div>
            </td>
          </tr>

          <tr ng-if="selector">
            <td class="key">selector</td>
            <td class="value">
              <div class="label selector" ng-repeat="(key,value) in selector">
                <span class="key label">{{ key }}</span>{{ value }}
              </div>
            </td>
          </tr>

          <tr ng-if="created">
            <td class="key">created</td>
            <td class="value" ng-bind="created"></td>
          </tr>

          <tr ng-if="namespace">
            <td class="key">namespace</td>
            <td class="value" ng-bind="namespace"></td>
          </tr>

          <tr ng-if="selfLink">
            <td class="key">selfLink</td>
            <td class="value" ng-bind="selfLink"></td>
          </tr>

          <tr ng-if="dnsPolicy">
            <td class="key">dnsPolicy</td>
            <td class="value" ng-bind="dnsPolicy"></td>
          </tr>

          <tr ng-if="nodeName">
            <td class="key">nodeName</td>
            <td class="value" ng-bind="nodeName"></td>
          </tr>

          <tr ng-if="restartPolicy">
            <td class="key">restartPolicy</td>
            <td class="value" ng-bind="restartPolicy"></td>
          </tr>

          <tr ng-if="scheduleName">
            <td class="key">scheduleName</td>
            <td class="value" ng-bind="scheduleName"></td>
          </tr>
          <tr ng-if="serviceAccount">
            <td class="key">serviceAccount</td>
            <td class="value" ng-bind="serviceAccount"></td>
          </tr>
          <tr ng-if="image">
            <td class="key">image</td>
            <td class="value" ng-bind="image"></td>
          </tr>
          <tr ng-if="imagePullPolicy">
            <td class="key">imagePullPolicy</td>
            <td class="value" ng-bind="imagePullPolicy"></td>
          </tr>
          <tr ng-if="clusterIP">
            <td class="key">clusterIP</td>
            <td class="value" ng-bind="clusterIP"></td>
          </tr>
          <tr ng-if="externalID">
            <td class="key">externalID</td>
            <td class="value" ng-bind="externalID"></td>
          </tr>

          <tr ng-if="providerID">
            <td class="key">providerID</td>
            <td class="value" ng-bind="providerID"></td>
          </tr>

        </table>

      </div>

      <svg class="kube-topology" hidden>
        <defs>
          <g class="Node" id="vertex-Node">
            <circle r="27"></circle>            
            <circle r="19"></circle>
            
          </g>
          <g class="Pod" id="vertex-Pod">
            <circle r="19"></circle>
            <circle r="15"></circle>
            <circle r="11"></circle>
            <circle r="7"></circle>
            
          </g>
          <g class="Service" id="vertex-Service">
            <circle r="23"></circle>            
            <circle r="19"></circle>
            <circle r="15"></circle>      

          </g>
          <g class="ReplicationController" id="vertex-ReplicationController">
            <circle r="19"></circle>
            <circle r="15"></circle>      

          </g>
          <g class="Container" id="vertex-Container">
            <circle r="15"></circle>
            <circle r="11"></circle>
            <circle r="7"></circle>
            <circle r="3"></circle>
          </g>
          <g class="ReplicaSet" id="vertex-ReplicaSet">
            <circle r="19"></circle>
            <circle r="15"></circle>      
          </g>
        </defs>
      </svg>
      <!-- angular app -->
      <script src="js/app.js"></script>
      <!-- data ingestion returns topology-graph's expected format -->    
      <script src="js/data-ingestion.js"></script>  
      <!-- Pre-formatted JSONP files from original project-->
      <script src="data/example-data-1.jsonp"></script>
      <script src="data/example-data-2.jsonp"></script>
    </div>
  </body>
</html>
